.header {
    display: inline-flex;
    background-color: rgb(234, 244, 244);
    width: 100%;
    border: 1px;
    font-size: 12px;
    border-color: rgb(255, 218, 185) ;
    margin-bottom: 2em;
    top: 2em;
}

.prim-cont {
    display: flex;
    height: 30em;
    width: 80%;
    border: 1px;
    margin-left: 10%;
    margin-bottom: 2em;;
}
.box1 {
    background-color: rgb(107, 144, 128);
    width: 50%;
    
}
.box2 {
    background-color: rgb(204, 227, 222);
    width: 50%;
    text-align: center;
    padding: 10em;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    
}
.first-word {
    font-weight: 800;
    font-size: 2em;
    padding-bottom: 0.5em;
}
.intro {
    padding-left: 0.5em;
    padding-right: 2em;
    line-height: 1.5em;
    position:absolute;
    text-align: center;
}

.overlap {
    position: absolute;
    width: 25%;
    left: 21%;
    right: 25%;
    background-color: rgb(142, 179, 163);
    top: 8em;
    height: 25em;
    border: 1px;
    text-align: center;
    text-justify: distribute;
}
.selfie {
    margin-top: 4em;
    height: 12em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 50%;
    border-color: white;
}
.name {
    font-weight: 700;
    font-size: 1.1em;
    padding: 1em;
}

.subj-cont {
    border: 1px;
    display: flex; 
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

.city-cont {
    background-color: rgb(204, 227, 222);
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 1px; 
    margin-bottom: 2em;
}
.lang-cont {
    background-color: rgb(204, 227, 222);
    border: 1px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    padding-bottom: 1.5em;
}
table, th, td {
    border: 1px solid;
    border-style: inset;
    border-collapse: collapse;
    border-color: black;
}
.th{
    height: 1.2em;
}
.tbl {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.subjects {
    background-color: rgb(204, 227, 222);
    margin-bottom: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.head-subj1, .head-subj2, .head-subj3 {
    font-weight: 600; 
    text-align: center; 
}
.sub1, .sub2, .sub3 {
    padding: 0.5em;
    text-align: center;
}
.sub1-cont, .sub2-cont, .sub3-cont {
    flex: 1;
    padding: 1.6em;
    border: 1px;
}
.robotics, .coding, .business {
    width: 10em;
    height: 10em;
    padding: 0.75em;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    width: 15em;
    display: block;
    height: 13em;
    margin-left: auto;
    margin-right: auto;
}
.city, .topic, .head {
    font-weight: 700;
    font-size: 1.1em;
    padding: 1em;
    text-align: center;
}
.detail, .subj1, .subj2, .subj3 {
    text-align: center;
    line-height: 1.5em;
}
.detail{
    padding: 1em;
}
.footer {
    background-color: rgb(234, 244, 244);
    display: flex;
    justify-content:center;
}
.icon1 {
    height: 2em;
    width: 2em;
    margin-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
@media (max-width:800px) {
    .selfie {
        height: 8em;
        width: 6.5em;
        border-radius: 0%;
    }
    .first-word {
        margin-left: 15px;
    }
    .pic {
        width: 13em;
        height: 11em;
    }
    .subj-cont {
        display: flex;
        flex-direction: column;
    }
}